# TASK 1 CLUSTERING

In [89]:
import warnings

In [90]:
warnings.filterwarnings('ignore')

In [91]:
import pandas as pd

In [135]:
df_train=pd.read_excel("C:\\Users\\Gopinath\\Downloads\\Task1and2-20240208T083604Z-001\\Task1and2\\train.xlsx")

In [136]:
df_train.shape

(36752, 19)

In [137]:
df_test=pd.read_excel("C:\\Users\\Gopinath\\Downloads\\Task1and2-20240208T083604Z-001\\Task1and2\\test.xlsx")

In [138]:
df_test.shape

(15752, 18)

In [139]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36752 entries, 0 to 36751
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   T1      36752 non-null  float64
 1   T2      36752 non-null  float64
 2   T3      36752 non-null  float64
 3   T4      36752 non-null  float64
 4   T5      36752 non-null  float64
 5   T6      36752 non-null  float64
 6   T7      36752 non-null  float64
 7   T8      36752 non-null  float64
 8   T9      36752 non-null  float64
 9   T10     36752 non-null  float64
 10  T11     36752 non-null  float64
 11  T12     36752 non-null  float64
 12  T13     36752 non-null  float64
 13  T14     36752 non-null  float64
 14  T15     36752 non-null  float64
 15  T16     36752 non-null  float64
 16  T17     36752 non-null  float64
 17  T18     36752 non-null  float64
 18  target  36752 non-null  object
dtypes: float64(18), object(1)
memory usage: 5.3+ MB

In [140]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15752 entries, 0 to 15751
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   T1      15752 non-null  float64
 1   T2      15752 non-null  float64
 2   T3      15752 non-null  float64
 3   T4      15752 non-null  float64
 4   T5      15752 non-null  float64
 5   T6      15752 non-null  float64
 6   T7      15752 non-null  float64
 7   T8      15752 non-null  float64
 8   T9      15752 non-null  float64
 9   T10     15752 non-null  float64
 10  T11     15752 non-null  float64
 11  T12     15752 non-null  float64
 12  T13     15752 non-null  float64
 13  T14     15752 non-null  float64
 14  T15     15752 non-null  float64
 15  T16     15752 non-null  float64
 16  T17     15752 non-null  float64
 17  T18     15752 non-null  float64
dtypes: float64(18)
memory usage: 2.2 MB

In [141]:
combined_df = pd.concat([df_train,df_test], ignore_index=True)

In [142]:
combined_df

,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16,T17,T18,target
0,-70.0,-61.0,-66.0,-53.0,-51.0,-63.0,-82.0,-57.0,-76.0,-78.0,-66.0,-66.0,-61.0,-59.0,-73.0,-75.0,-63.0,-77.0,B37
1,-77.0,-74.0,-71.0,-76.0,-65.0,-63.0,-66.0,-52.0,-55.0,-75.0,-72.0,-75.0,-74.0,-61.0,-64.0,-63.0,-53.0,-63.0,B61
2,-53.0,-38.0,-55.0,-66.0,-62.0,-62.0,-65.0,-70.0,-62.0,-52.0,-56.0,-53.0,-66.0,-68.0,-72.0,-60.0,-68.0,-77.0,A19
3,-72.0,-62.0,-59.0,-65.0,-65.0,-65.0,-78.0,-82.0,-83.0,-59.0,-84.0,-60.0,-64.0,-83.0,-69.0,-72.0,-95.0,-73.0,A22
4,-67.0,-69.0,-65.0,-63.0,-59.0,-53.0,-70.0,-72.0,-71.0,-60.0,-61.0,-57.0,-54.0,-76.0,-61.0,-66.0,-71.0,-80.0,A33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52499,-64.0,-68.0,-64.0,-67.0,-66.0,-53.0,-61.0,-51.0,-44.0,-76.0,-64.0,-62.0,-68.0,-60.0,-58.0,-54.0,-48.0,-51.0,NaN
52500,-57.0,-46.0,-64.0,-55.0,-56.0,-54.0,-70.0,-64.0,-63.0,-51.0,-56.0,-58.0,-60.0,-61.0,-61.0,-62.0,-62.0,-64.0,NaN
52501,-76.0,-67.0,-69.0,-71.0,-68.0,-70.0,-57.0,-57.0,-59.0,-76.0,-85.0,-72.0,-67.0,-58.0,-66.0,-66.0,-55.0,-54.0,NaN
52502,-69.0,-78.0,-65.0,-65.0,-38.0,-55.0,-66.0,-66.0,-76.0,-64.0,-64.0,-66.0,-55.0,-60.0,-55.0,-64.0,-66.0,-69.0,NaN
52503,-74.0,-68.0,-70.0,-80.0,-66.0,-61.0,-68.0,-62.0,-49.0,-79.0,-82.0,-71.0,-68.0,-74.0,-61.0,-57.0,-52.0,-56.0,NaN

In [143]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [144]:
imputer = SimpleImputer(strategy='mean')
combined_df.fillna(combined_df.mean(), inplace=True)

In [145]:
X_train = combined_df.loc[:len(df_train)-1].drop(columns=["target"])
X_test = combined_df.loc[len(df_train):].drop(columns=["target"])

In [146]:
X_train

,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16,T17,T18
0,-70.0,-61.0,-66.0,-53.0,-51.0,-63.0,-82.0,-57.0,-76.0,-78.0,-66.0,-66.0,-61.0,-59.0,-73.0,-75.0,-63.0,-77.0
1,-77.0,-74.0,-71.0,-76.0,-65.0,-63.0,-66.0,-52.0,-55.0,-75.0,-72.0,-75.0,-74.0,-61.0,-64.0,-63.0,-53.0,-63.0
2,-53.0,-38.0,-55.0,-66.0,-62.0,-62.0,-65.0,-70.0,-62.0,-52.0,-56.0,-53.0,-66.0,-68.0,-72.0,-60.0,-68.0,-77.0
3,-72.0,-62.0,-59.0,-65.0,-65.0,-65.0,-78.0,-82.0,-83.0,-59.0,-84.0,-60.0,-64.0,-83.0,-69.0,-72.0,-95.0,-73.0
4,-67.0,-69.0,-65.0,-63.0,-59.0,-53.0,-70.0,-72.0,-71.0,-60.0,-61.0,-57.0,-54.0,-76.0,-61.0,-66.0,-71.0,-80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36747,-68.0,-62.0,-64.0,-59.0,-59.0,-71.0,-67.0,-73.0,-73.0,-69.0,-71.0,-75.0,-56.0,-68.0,-68.0,-75.0,-75.0,-95.0
36748,-56.0,-50.0,-57.0,-50.0,-59.0,-60.0,-62.0,-69.0,-58.0,-64.0,-49.0,-61.0,-58.0,-56.0,-60.0,-58.0,-59.0,-64.0
36749,-42.0,-58.0,-72.0,-70.0,-75.0,-72.0,-76.0,-84.0,-84.0,-59.0,-65.0,-68.0,-65.0,-81.0,-86.0,-70.0,-75.0,-74.0
36750,-50.0,-50.0,-70.0,-64.0,-64.0,-68.0,-68.0,-73.0,-79.0,-58.0,-61.0,-73.0,-67.0,-77.0,-73.0,-74.0,-72.0,-81.0
36751,-66.0,-64.0,-70.0,-62.0,-59.0,-62.0,-53.0,-58.0,-64.0,-80.0,-73.0,-83.0,-67.0,-61.0,-56.0,-61.0,-67.0,-65.0

In [147]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [148]:
X_train_scaled

array([[-0.47321406,  0.39508167, -0.17481688, ..., -1.03062689,
         0.28899656, -0.98195758],
       [-1.27438905, -1.06322685, -0.78798229, ...,  0.10784997,
         1.28186418,  0.33869147],
       [ 1.47249662,  2.97516597,  1.17414703, ...,  0.39246918,
        -0.20743726, -0.98195758],
       ...,
       [ 2.73148589,  0.7316144 , -0.91061537, ..., -0.55626153,
        -0.90244459, -0.69896135],
       [ 1.81585733,  1.62903503, -0.6653492 , ..., -0.93575382,
        -0.60458431, -1.35928588],
       [-0.01539979,  0.05854893, -0.6653492 , ...,  0.29759611,
        -0.10815049,  0.15002732]])

In [149]:
X_test_scaled

array([[-1.15993548, -2.07282506, -0.6653492 , ..., -0.55626153,
         0.58685684,  0.6216877 ],
       [ 0.90022877,  0.84379198, -1.64641386, ..., -1.78961146,
        -0.80315783, -1.2649538 ],
       [-0.47321406, -0.61451654, -0.78798229, ..., -1.03062689,
         0.88471713, -0.32163305],
       ...,
       [-1.15993548, -0.2779838 , -0.54271612, ..., -0.17676925,
         1.08329065,  1.18768015],
       [-0.35876049, -1.51193717, -0.05218379, ...,  0.0129769 ,
        -0.00886373, -0.22730098],
       [-0.93102834, -0.39016138, -0.6653492 , ...,  0.6770884 ,
         1.38115094,  0.999016  ]])

In [150]:
from sklearn.cluster import KMeans

In [151]:
kmeans=KMeans(n_clusters=3,random_state=0)

In [152]:
kmeans.fit(X_train)

KMeans(n_clusters=3, random_state=0)

In [153]:
dist=kmeans.inertia_

In [154]:
dist

34995322.44266147

In [155]:
X_train['cluster_label']=kmeans.labels_

In [156]:
kmeans.labels_

array([2, 0, 2, ..., 1, 1, 0])

In [157]:
X_train['cluster_label'].value_counts()

0    14831
2    13184
1     8737
Name: cluster_label, dtype: int64

In [158]:
test_clusters = kmeans.predict(X_test)

In [159]:
X_test['cluster_label']=test_clusters

In [160]:
X_test['cluster_label'].value_counts()

0    6307
2    5701
1    3744
Name: cluster_label, dtype: int64

In [161]:
test_clusters

array([0, 1, 0, ..., 0, 2, 0])

In [162]:
dataset=pd.concat([X_train,X_test], ignore_index=True)

In [163]:
dataset

,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16,T17,T18,cluster_label
0,-70.0,-61.0,-66.0,-53.0,-51.0,-63.0,-82.0,-57.0,-76.0,-78.0,-66.0,-66.0,-61.0,-59.0,-73.0,-75.0,-63.0,-77.0,2
1,-77.0,-74.0,-71.0,-76.0,-65.0,-63.0,-66.0,-52.0,-55.0,-75.0,-72.0,-75.0,-74.0,-61.0,-64.0,-63.0,-53.0,-63.0,0
2,-53.0,-38.0,-55.0,-66.0,-62.0,-62.0,-65.0,-70.0,-62.0,-52.0,-56.0,-53.0,-66.0,-68.0,-72.0,-60.0,-68.0,-77.0,2
3,-72.0,-62.0,-59.0,-65.0,-65.0,-65.0,-78.0,-82.0,-83.0,-59.0,-84.0,-60.0,-64.0,-83.0,-69.0,-72.0,-95.0,-73.0,1
4,-67.0,-69.0,-65.0,-63.0,-59.0,-53.0,-70.0,-72.0,-71.0,-60.0,-61.0,-57.0,-54.0,-76.0,-61.0,-66.0,-71.0,-80.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52499,-64.0,-68.0,-64.0,-67.0,-66.0,-53.0,-61.0,-51.0,-44.0,-76.0,-64.0,-62.0,-68.0,-60.0,-58.0,-54.0,-48.0,-51.0,0
52500,-57.0,-46.0,-64.0,-55.0,-56.0,-54.0,-70.0,-64.0,-63.0,-51.0,-56.0,-58.0,-60.0,-61.0,-61.0,-62.0,-62.0,-64.0,2
52501,-76.0,-67.0,-69.0,-71.0,-68.0,-70.0,-57.0,-57.0,-59.0,-76.0,-85.0,-72.0,-67.0,-58.0,-66.0,-66.0,-55.0,-54.0,0
52502,-69.0,-78.0,-65.0,-65.0,-38.0,-55.0,-66.0,-66.0,-76.0,-64.0,-64.0,-66.0,-55.0,-60.0,-55.0,-64.0,-66.0,-69.0,2
52503,-74.0,-68.0,-70.0,-80.0,-66.0,-61.0,-68.0,-62.0,-49.0,-79.0,-82.0,-71.0,-68.0,-74.0,-61.0,-57.0,-52.0,-56.0,0

In [164]:
dataset.to_excel(r'I:\excelR\task1_deploy.xlsx', index=False)